body { 
    font-family: 'Share Tech Mono';
    background: #3e3b36;
}
.body2 {
	background: #14142B;
}

/*Styles for index.html */
.userInput {
	width: 50%;
	margin: auto;
	border-left: 1px solid black;
}
.input {
	border-bottom: 1px solid black;
}
input {
	box-shadow: 0 0 5px #666666;
	margin: 40px 5px;
}
.activeButton {
	outline: none;
	transition: .2s transform, 1s opacity;
	transform-style: preserve-3d;
}
.activeButton:hover {
	cursor: pointer;
}
.activeButton:active {
	transform: rotate3d(1, 0, 0, 40deg);
}
#list,
#submit {
	border: none;
	background: #009E02;
	color: #ffffff;
	margin: 40px 5px;
}
#list:hover,
#submit:hover {
	background: #007B01;
}
.post {
	background: #d3d3d3;
	font-size: 1.5em;
	width: 50%;
	margin: 10px auto;
	text-align: center;
	border-radius: 5px;
}
footer {
	width: 180px;
}
.pageTurn {
	float: left;
	position: relative;
	top: -90px;
	margin: 10px 20px;
}

/*Styles for index2.html*/

.content {
	width:50%;
	margin: 15px;
	color: #FFF4F8;
}
.active {
	color: pink;
}
.pageTurn2 {
	border: 1px solid #333333;
	background: #C5DACF;
	height: 50px;
	margin: 40px auto;
}
.pageTurn2:hover {
	background: #bbbbbb;
}
a {
	text-decoration: none;
	color: black;
	font-size: 1.2em;
}

/*Styles for index3.html */

.buttonMain {
	border: 1px solid #CF6D65;
	color: #CF6D65;
	background: #17172C;
	outline: none;
}
.buttonMain:hover {
	background: #CF6D65;
	color: #14142B;
}
.bigButton {
	width: 33%;
	height: 300px;
	box-shadow: 2px 2px 2px 1px rgba(203, 99, 90, 0.63);
	margin: 13% 33%;
	font-family: 'Dancing Script', cursive;
	font-size: 6em;
}
.close {
	width: 70%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	position: absolute;
	top: 200px;
	margin: 0 15%;
}
.close span {
	font-size: 1.5em;
}
.navigation {
	position: fixed;
	width: 100%;
	top: -70px;
}
.page3link {
	color: #CF6D65;
}
.page3link:hover {
	color: #17172C;
}
.pageTurn31 {
	margin: 0 17%;
}
.pageTurn3 {
	margin: 35px 20%;
}
.popup {
	width: 33%;
	height: 300px;
	position: fixed;
	top: 24%;
	left: 33%;
	color: #CF6D65;
	text-align: center;
	line-height: 5;
	border: 1px solid;
	font-family: 'Share Tech Mono';
}