
body {
	background: #666666;
}
h1 {
	background: #1A2C41;
	width: 300px;
	margin: 5px auto;
}
p {
	background: #28342F;
	width:300px;
	height:200px;
	margin: 15px auto;
}
.active {
	color: pink;
}
span {
	font-size: 2em;
}
button {
	border: 1px solid #333333;
	background: #C5DACF;
	width: 10%;
	height: 50px;
	margin: 40px auto;
	display: block;
	transition: .2s transform, 1s opacity;
	transform: perspective(800px);
	transform-style: preserve-3d;
}
button:hover {
	cursor: pointer;
	background: #bbbbbb;
}
button:active {
	transform: perspective(800px) rotate3d(1, 0, 0, 40deg);
}
a {
	text-decoration: none;
	color: black;
	font-size: 1.2em;
}